{% extends "base.html" %}


{% block extrahead%}
<script src="/static/js/angular.min.js"></script>
<script>
    var comment_url = '/api/authenticate';
    angular.module("authApp",[])
    .controller('authController', ['$scope','$http', function($scope, $http){
        $scope.submitform =function(auth){
            console.log("POST");
            $http.post(comment_url,JSON.stringify(auth)).then(function(){window.location.replace("/manage/")},function(){alert("Failed");});
        };
    }]);
</script>
{% endblock %}

{% block navlist%}
<div ng-app="authApp" ng-controller="authController">
                <form id="signin" class="navbar-form navbar-right" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="name" type="text" class="form-control" name="name" placeholder="Username" ng-model="auth.name" required>                                        
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="auth.passwd" required>                                        
                        </div>

                        <button type="submit" class="btn btn-primary" ng-click="submitform(auth)">Login</button>
                   </form>
</div>
{% endblock %}
